<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>折纸管理</title>
		<link href="../hapui/css/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet" />
		<link href="customer.css" rel="stylesheet">
		<link href="../hapui/css/mainStyle.css" rel="stylesheet">
		<link href="../hapui/css/font-awesome/css/font-awesome.min.css"rel="stylesheet" />
   	</head>
	<body ng-controller="origamiController" id="moduleId" pagename="../../origami/Origami">
		<div class="wrapper">
			<p style="font-size:16px;padding: 8px 10px;">折纸管理</p>
			 <form ng-submit="searchorigami()" id="searchorigami" class="searchorigami">
				<div class="con-nav">
					<div class="title" style="float:left;margin-left:45px;">标题<input type="text" class="input-medium medium" ng-model="searchForm.title"/></div>
					<button type="submit" class="button">查询</button>
					<div style="clear: both;"></div>
				</div>
			</form>
									
			<div class="info">
				<div class="confirm">
				<div style="clear: both;"></div>
				<!--新增的弹出窗口-->
	  
	   <button class="btn save" type="button" ng-click="addOrigami()"  value="新增">新增</button>
		
	
	<!--删除的弹出窗口-->
	
	<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" style="margin: 0 auto;padding: 0px 19px 15px;">
		<div class="modal-dialog">
				<div class="modal-header" style="width:410px;">
					<h5 class="modal-title" id="myModalLabel">删除</h5>
				</div>
				 <div id="remove" class="form-horizontal">
                     <p style="text-align: center;margin: 94px;"><img src="../hapui/img/delete.jpg">确认删除所选内容？</p>
                 </div>
		 
		  <div class="modal-footer" style="padding:10px;width:410px;margin-top:-44px;">
			<button type="button" class="btn btn-primary" ng-click="Remove()">确认</button>  		         	  	          						 
			<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		</div>
		 </div>
		 
		
	</div>
	<!--表格-->
			<div class="container">
				 <table st-table="displayed" class="table table-striped">
					<thead>
						<tr>
							<th st-ratio="10" st-sort="id">序号</th>
							<th st-ratio="10" st-sort="title">标题</th>
							<th st-sort="typeId">类别编码</th>
							<th st-ratio="10" st-sort="typeName">类别</th>
							<th st-ratio="20" st-sort="operation">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in attributes">
								<td st-ratio="10">{{row.id}}</td>
								<td st-ratio="10" title="{{row.title}}">{{row.title}}</td>
								<td>{{row.typeId}}</td>
								<td st-ratio="10">{{row.typeId}}</td>
								<td st-ratio="20" class="action-column">
									<button type="button" class="btn-info btn-sm"  ng-click="get(row)">查看</button>
									<button type="button" class="btn-info btn-sm" data-toggle="modal" data-target="#delete" ng-click="setValue2(row)">删除</button>
								</td>
						</tr>
					</tbody>
					<tfoot ng-hide="numberOfPages==1">
						<tr>
						<td colspan="5">
								<pagination-smart-table num-pages="numberOfPages" current-page="currentPage" max-size="maxSize"></pagination-smart-table>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<div ng-include="'../hapui/compage/tipmodal.html'"></div>
<script async="async" defer="defer" src="../hapui/plugins/requireJs/require.js" data-main="../hapui/js/main.js"></script>
</body>	
</html>
